.pdf-button {
  padding: 12px 20px;
  font-size: 18px;
  background-color: #ffffff;
  color: #413E43;
  border: 1px solid #EEEBEB; /* Borde verde oscuro */;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.pdf-button:hover {
  background-color: #EC6608;
  color: #ffffff

}